{% extends 'base.html' %}

{% block style %}
<link rel="stylesheet" href={{ url_for('static', filename="css/style.css") }}>
{% endblock %}

{% block title %}
<title>JohnsList About</title>
{% endblock %}

{% block content %}
<center>
<h1 style="color: #8885DA;"> Welcome to the John's List project!</h1>
<h5 class="default-colour">----------Scroll down to get a summary of the app and see some of our FAQ's!----------</h5>
</center>
<div style="max-height: 200vw;">
    <img src="https://marketplace.canva.com/EAFIJI5vK_Q/1/0/1600w/canva-violet-dark-blue-anime-music-twitch-banner-iu2BU3SsufU.jpg" alt="man leaning over a wall in anime art style"
    style="max-height: 100%;">
</div>
<center>
    <h5 class="default-colour">--------------------------------------------------------------------------------------</h5>
    <h3 style="color: #8885DA;">FAQ</h3>
    <h5 class="default-colour">--------------------------------------------------------------------------------------</h5>
</center>
<h4 style="color: #8885DA;">What is the app for?</h4>
<p class="default-colour">This is a anime and manga website, allowing you to create lists of content you want to watch or read,
as well as searching for new contents to keep an eye on! You can get a sense of community by joining groups and having shared
lists- so you and friends can finally keep track of that show 'we should really get around to watching', or keep track of all
your favourite recommendations for each other!

Find content similar to other shows, and see how other people rate things you're interested in- getting a better sense of whether
it is worth adding to your list!
<center>
    <h5 class="default-colour">--------------------------------------------------------------------------------------</h5>
</center>
<h4 style="color: #8885DA;">I can't find a certain anime/manga in the database- what can I do?</h4>
<p class = "default-colour">Start off by signing in, and head to the add content button. Give us the basic information to create the
    listing, and go on to add any more information you see fit afterwards by editing the page!
</p>
<center>
    <h5 class="default-colour">--------------------------------------------------------------------------------------</h5>
</center>
<h4 style="color: #8885DA;">How do groups work?</h4>
<p class="default-colour">Create a group or join a pre-existing one by searching for them by name! You can create lists of content to watch together,
    as well as for what you have finished! Additionally, check out the profiles of the members of your group and see what they have on their lists!
</p>
<center>
    <h5 class="default-colour">--------------------------------------------------------------------------------------</h5>
</center>
{% endblock %}