{% extends 'page_base.html' %}

{% block style %}
<link rel="stylesheet" href={{ url_for('static', filename="css/style.css" ) }}>

<style>
    p,
    h1,
    h2,
    h3 {
        color: #AAAAAA;
    }

    /* Center image  */
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

    a.default {
        background-color: #8885DA;
    }

    a.default:hover,
    button.nice:hover,
    a.nice:hover,
    a.not-nice:hover,
    button.edit:hover {
        background-color: #53518e !important;
        color: #0E0E0E !important;
    }


    button.edit {
        margin-left: 10px;
        width: 90%;
        background-color: transparent;
        color: #AAAAAA;
        border-color: #AAAAAA
    }

    a.not-nice {
        background-color: transparent !important;
        color: #53518e !important;
        border-color: #AAAAAA !important;
    }


    button.nice,
    a.nice {
        background-color: transparent !important;
        color: #AAAAAA !important;
        border-color: #AAAAAA !important;
    }

    .dropdown-menu-center {
        width: 100%;
    }

    .dropdown-content {
        display: flex !important;
        background-color: #1C1C1C !important;
        color: #AAAAAA !important;
    }

    .dropdown-menu-center:hover {
        background-color: #242424 !important;
    }

    /*
     *  Hide ugly borders :)
     */
    a.stretched-link:active {
        border-color: transparent !important;
    }

    button.default {
        background-color: transparent;
        color: #AAAAAA;
        border-color: #AAAAAA;
        line-height: 15px;
    }

    .content-tag,
    .adaptation {
        color: #AAAAAA !important;
        background-color: #3b3b3b !important;
        margin-bottom: 5px;
    }

    .content-tag:hover,
    .adaptation:hover {
        color: #c0c0c0 !important;
        background-color: #505050 !important;
    }

</style>

{% endblock %}

{% block title %}
<title>{{ content.title }}</title>
{% endblock %}


{% block page_title %}
<div class="col">
    <div class="row">
        <div class="col">
            <h2>{{ content.title }}</h2>
        </div>

        <!-- Edit content page -->
        <div class="col-md-1 text-end" style="margin: auto;">
            <center>
            <form action="" method="POST">
                <button class="btn edit" type="submit">Edit</button>
            </form>
            </center>
        </div>

        <!-- Edit rating modal -->
        <div class="col-md-1 text-end" style="top: 6px; ">
        <center>
            <form action="{{ url_for('set_rating_modal', content_id=content.content_id, content_type=content.content_type) }}"
                 method="GET">
                <button class="btn edit" type="submit">Set Rating</button>
            </form>
        </center>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<!-- Left column -->
<div class="col-sm-3 well">
    <div class="well">
        {% if content.poster %}
        <img src="{{ content.poster }}" class="center rounded" alt="poster">
        {% else %}
        <img src="{{ url_for('static', filename='place_holder_img.png') }}" class="center rounded" alt="poster">
        {% endif %}
    </div>
    
    <!-- Add to list button -->
    {% with has_content=has_content %}
        {% include 'add_to_list.html' %}
    {% endwith %}
    <hr> 
    <!-- Status -->
    <div class="well default-text-color">
        
        <b>ID</b>: #{{ content.content_id }}
        <br>
        
        <b>Type</b>: {{ content.content_type }}

        {% if content.content_type == 'Anime' and content.season %}
        <br>
        <b>Season</b>: {{ content.season }}
        {% endif %}

        <br>
        <b>Status</b>: {{ content.status_dict[content.status] | default("Unspecified") }}

        <br>
        <b>Score</b>: {{ rating.score }} ({{ rating.count }})

        <br>
        <b>Ranking</b>: #{{ content.ranking }}

        {% if content.sequel %}
        <br>
        {% for seq in content.sequel %}
        <b>Sequel</b>: <a href="{{ url_for('content', content_id=seq.content_id, content_type=seq.content_type) }}" style="text-decoration: none; color: #53518e;">{{ seq.title }}</a>
        {% endfor %}
        {% endif %}

        {% if content.prequel %}
        <br>
        <b>Prequel</b>:  <a href="{{ url_for('content', content_id=content.prequel.content_id, content_type=content.prequel.content_type) }}" style="text-decoration: none; color: #53518e;">{{ content.prequel.title }}</a>
        {% endif %}

        
    </div>

    <hr>

    <!-- Genres -->
    <p class="sub-heading">Tags</p>
    {% for genre in content.genres %}
    <a class="btn content-tag btn-sm" href="{{ url_for('search_tag', tag=genre.name, pagenum=1) }}">{{ genre.name }}</a>    
    {% endfor %}

</div>

<!-- Right column -->
<div class="col-sm-9 well">
    <div class="well" style="margin-top: 1em; margin-bottom: 2em;">
        <p class="sub-heading">Synopsis</p>
        <hr>
        <p style="white-space: pre-line">{{ content.synopsis }}</p>
    </div>

    <!-- Adaptation -->
    <div class="well" style="margin-top: 1em">
        {% if content.content_type == 'Manga' and content.adaptation %}
        <p class="sub-heading">Adaptation</p>
        <hr>
        {% for adpt in content.adaptation %}
        <a class="btn adaptation" href="{{ url_for('content', content_id=adpt.content_id, content_type=adpt.content_type) }}" style="text-decoration: none">{{ adpt.title }} ({{ adpt.content_type }})</a> 
        {% endfor %}
        {% elif content.content_type == 'Anime' and content.adapted_from %}
        <p class="sub-heading">Adapted From</p>
        <hr>
        <a class="btn adaptation" href="{{ url_for('content', content_id=content.adapted_from.content_id, content_type=content.adapted_from.content_type) }}" style="text-decoration: none">{{ content.adapted_from.title }} ({{ content.adapted_from.content_type }})</a>
        {% endif %}
    </div> <!-- End of Adaptation -->

</div>
{% endblock %}