{% extends 'page_base.html' %}

{% block style %}
<link rel="stylesheet" href={{ url_for('static', filename="css/style.css" ) }}>

<style>
    p,
    h1,
    h2,
    h3 {
        color: #AAAAAA;
    }

    p.sub-heading {
        font-weight: bold;
    }

    /* Center image  */
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

    a.default {
        background-color: #8885DA;
    }

    a.default:hover,
    button.nice:hover,
    a.nice:hover {
        background-color: #53518e;
        color: #0E0E0E;
    }

    button.edit {
        margin-left: 10px;
        width: 90%;
        background-color: transparent;
        color: #AAAAAA;
        border-color: #AAAAAA
    }

    button.nice,
    a.nice {
        background-color: transparent;
        color: #AAAAAA;
        border-color: #AAAAAA
    }

    .dropdown-menu-center {
        width: 100%;
    }

    .dropdown-content {
    display: flex !important;
    background-color: #1C1C1C !important;
    color: #AAAAAA !important;
    }

    .dropdown-menu-center:hover {
    background-color: #242424 !important;
    }

    /*
     *  Hide ugly borders :)
     */
    a.stretched-link:active
    {
        border-color: transparent !important;
    }


</style>

{% endblock %}

{% block title %}
<title>{{ content.title }}</title>
{% endblock %}


{% block page_title %}
<div class="col">
    <div class="row">
        <div class="col">
            <h2>{{ content.title }}</h2>
        </div>

        <!-- Edit content page -->
        <div class="col-md-1 text-end" style="margin: auto;">
            <form action="" method="POST">
                <button class="btn edit" type="submit">Edit</button>
            </form>
        </div>

        <!-- Edit rating modal -->
        <a class="btn nice" style="width: 12%; margin:auto; height:5%"
        href="{{ url_for('set_rating_modal', content_title=content.title, content_type=content.content_type) }}"
        role="button">
        Set Rating
    </a>

    </div>
</div>
{% endblock %}

{% block content %}
<!-- Left column -->
<div class="col-sm-3 well">
    <div class="well">
        <img src="{{ content.poster }}" class="center rounded" alt="poster">
    </div>

    <!-- Add to list button -->
    {% include 'add_to_list.html' %}

</div>

<!-- Right column -->
<div class="col-sm-9 well">
    <div class="well" style="margin-top: 1em">
        <p class="sub-heading">Synopsis</p>
        <hr>
        <p style="white-space: pre-line">{{ content.synopsis }}</p>
    </div>
</div>
{% endblock %}