{% extends 'base.html' %}

{% block style %}
<link rel="stylesheet" href={{ url_for('static', filename="css/style.css") }}>

<style>
    .vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 80vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}
</style>
{% endblock %}

{% block title %}
<title>Create group</title>
{% endblock %}

{% block content %}
<div class="container square-box d-flex justify-content-center vertical-center" >
    <form method="POST">

        <!-- Group Name -->
        <div class="mb-3 default-colour">
            <input type="text" class="form-control" id="group_name" name="group_name" placeholder="Group Name" size="30" />
        </div>

        <!-- Submit -->
        <button type="submit" class="btn" style="display: block; width: 100%; background-color: #8885DA;">Create</button>
    </form>
</div>
{% endblock %}