{% extends 'base.html' %}

{% block style %}
<link rel="stylesheet" href={{ url_for('static', filename="css/style.css" ) }}>

<style>
p, h1, h2, h3 {
    color: #AAAAAA;
}

p.sub-heading {
    font-weight: bold;
}
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  color: #AAAAAA;
  background-color: #131313;
  border-radius: 4px;
  resize: vertical;
}
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  color: #AAAAAA;
}
/* Center image  */
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

a.default {
    background-color: #8885DA;
}

a.default:hover {
    background-color: #53518e;
    color: #0E0E0E;
}

</style>

{% endblock %}
›
{% block title %}
<title>{{content.title}} - Edit</title>
{% endblock %}

{% block content %}

<!-- <div id="container">
<h1 class="default-colour">Content page for {{ content_title }} ({{ content_type }})</h1>
</div> -->
<div class="container">
    <form method="POST">
    <div class="row">
        <!-- Top row containing content title  -->
        <div class="col">
            <label for="content_title" >Content Title</label>
            <input type="text" id="content_title" name="content_title" value="{{content.title}}">
        </div>
    </div>
    <br>
    <div class="row">
        <!-- Left column -->
        <div class="col-sm-3 well">
            <div class="well">
                <label for="content_img">Content Image URL</label>
                <input type="text" id="content_img" name="content_img" value="{{content.poster}}">
                <img src="{{ content.poster }}" class="center" alt="poster">
            </div>
        </div>

        <!-- Right column -->
        <div class="col-sm-9 well">
            <div class="well" style="margin-top: 1em">
            <label for="content_synopsis">Synopsis</label>
            <textarea id="content_synopsis" name="content_synopsis" style="height:500px">{{content.synopsis}}</textarea>
            </div>
        </div>
    </div>

    <div class="row text-center" style="margin-top: 5px">
        <button class="btn default" style="margin-left: 10px; width: 22.75%;" type="submit" >Submit changes</button>
    </div>
    
</form>
</div>
{% endblock %}