{% extends 'page_base.html' %}

{% block style %}
<link rel="stylesheet" href={{ url_for('static', filename="css/style.css" ) }}>

<style>
    p,
    h1,
    h2,
    h3 {
        color: #AAAAAA;
    }

    p.sub-heading {
        font-weight: bold;
    }

    input[type=text],
    select,
    textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        color: #AAAAAA;
        background-color: #131313;
        border-radius: 4px;
        resize: vertical;
    }

    label {
        padding: 12px 12px 12px 0;
        display: inline-block;
        color: #AAAAAA;
    }

    /* Center image  */
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

    a.default {
        background-color: #8885DA;
    }

    a.default:hover {
        background-color: #53518e;
        color: #0E0E0E;
    }

    a.search,
    a.create,
    a.save,
    a.nice,
    button.default {
        background-color: transparent;
        color: #AAAAAA;
        border-color: #AAAAAA;
        line-height: 15px;
    }

    a.search:hover,
    a.create:hover,
    a.group:hover,
    a.nice:hover,
    a.save:hover,
    button.default:hover {
        background-color: #53518e !important;
        color: #0E0E0E !important;
    }

</style>

{% endblock %}

{% block title %}
<title>{{ user.username }} - Edit</title>
{% endblock %}

{% block page_title %}
<form method="POST">
    <div class="col">
        <div class="row">
            <div class="col">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" value="{{user.username}}">
            </div>
            <div class="col-md-2 text-end" style="margin: auto;">
                <button class="btn default" style="margin-left: 10px; margin-top: 50px; width: 50%;" type="submit">Save</button>
                <!-- <a class="btn save" href="{{ url_for('user', username=user.username) }}" role="button">Save</a> -->
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
<!-- Left column -->
<div class="col-sm-2 well">

    <!-- Profile picture -->
    <div class="well">
        <label for="user_pfp">User Profile URL</label>
        <input type="text" id="user_pfp" name="user_pfp" value="{{user.profile_pic_url}}">
        <img src="{{ user.profile_pic_url }}" class="center rounded" alt="pfp" style="width: 100%;">
    </div>

    <hr>

    <div class="row">
        <div class="col text-end">
            <input type="old_password" class="form-control" id="old_password" name="old_password" placeholder="Old Password" size="30" />
        </div>
    </div>

    <br>

    <div class="row">
        <div class="col text-end">
            <input type="new_password" class="form-control" id="new_password" name="new_password" placeholder="New Password" size="30" />
        </div>
    </div>

    <br>

    <div class="row">
        <div class="col text-start">
            <input type="password" class="form-control" id="confirm_password" name="confirm_password" placeholder="Confirm Password" size="30" />
        </div>
    </div>
</div>

<!-- Right column -->
<div class="col well">
    <div class="row">
        <div class="col-md-8 well" style="margin-top: 1em">
            <p class="sub-heading">About me</p>
            <hr>
            <div class="well">
                <textarea id="user_bio" name="user_bio" style="height:500px">{{user.bio}}</textarea>
            </div>
        </div>
        <div class="col-md-4 well" style="margin-top: 1em">

            <div class="row" style="height: 24px">
                <div class="col-md-6">
                    <p class="sub-heading">Groups Created</p>
                </div>

                <div class="col text-end">
                    <a class="btn create" href="{{ url_for('create_group') }}" role="button"
                        style="vertical-align: top; height: 30px;">Create</a>
                    <a class="btn search" href="{{ url_for('search') }}" role="button"
                        style="vertical-align: top; height: 30px;">Search</a>
                </div>
            </div>

            <hr>

            {% if owned_groups %}
            {% for group in owned_groups %}
            <li class="list-group-item" style="background-color: #53518e; margin-bottom: 5px;">
                <div class="shadow rounded" style="width: 100%; display: block; background-color: #8885DA">
                    <a class="btn group" style="width: 100%; color: #AAAAAA; background-color: #1C1C1C;"
                        href="{{ url_for('group', group_name=group.name) }}" role="button">{{ group.name }}</a>
                </div>
            </li>
            {% endfor %}
            {% else %}
            <li class="list-group-item" style="background-color: #53518e">
                <div class="shadow rounded" style="width: 100%; display: block; background-color: #8885DA">
                    <a class="btn group" style="width: 100%; color: #AAAAAA; background-color: #1C1C1C">No group created.</a>
                </div>
            </li>
            {% endif %}
        </div>
    </div>
</div>
</form>
{% endblock %}