{% extends 'base.html' %}

{% block style %}
<link rel="stylesheet" href={{ url_for('static', filename="css/style.css" ) }}>
{% endblock %}

{% block title %}
<title>Search group</title>
{% endblock %}

{% block content %}

<div class="card mx-auto" style="width: 50%; background-color: #0E0E0E;">


  <div class="container square-box d-flex justify-content-center">
    <form method="POST">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Group Name" id="group_name" name="group_name">
        <div class="input-group-append">
          <button type="submit" class="btn" style="display: block; width: 100%; background-color: #8885DA;">Search</button>
          <!-- <button type="submit" class="btn" style="display: block; width: 100%; background-color: #8885DA;">Create</button> -->
        </div>
      </div>
    </form>
  </div>
  <ul class="list-group list-group-flush" style="background-color: #0E0E0E">
    {% if groups %}
    {% for group in groups %}
    <li class="list-group-item" style="background-color: #53518e">
      <div class="shadow rounded" style="width: 100%; display: block; background-color: #8885DA">
        <a class="btn" style="width: 100%; color: #AAAAAA; background-color: #0E0E0E"
          href="{{ url_for('group', group_name=group.name) }}" role="button">{{ group.name }}</a>
      </div>
    </li>
    {% endfor %}
    {% else %}
    <li class="list-group-item" style="background-color: #53518e">
      <div class="shadow rounded" style="width: 100%; display: block; background-color: #8885DA">
        <a class="btn" style="width: 100%; color: #AAAAAA; background-color: #0E0E0E">No Groups!</a>
      </div>
    </li>
    {% endif %}
  </ul>
</div>
{% endblock %}