{% extends 'base.html' %}

{% block style %}
<link rel="stylesheet" href={{ url_for('static', filename="css/style.css" ) }}>
<style>
  .card:hover {
    background-color: #8885DA;
  }

  .navigation-btn {
    color: #AAAAAA !important;
    background-color: #414141 !important;
    margin-bottom: 5px;
    margin-top: 5px;
  }

  .navigation-btn:hover {
    color: #c0c0c0 !important;
    background-color: #505050 !important;
  }

  .non-functional,
  .non-functional:hover {
    color: #666666 !important;
    background-color: #363636 !important;
    margin-bottom: 5px;
    margin-top: 5px;
    pointer-events: none;
  }
</style>
{% endblock %}

{% block title %}
<title>Search content</title>
{% endblock %}

{% block content %}

<div class="card mx-auto" style="width: 50%; background-color: #0E0E0E;">
  <div class="container square-box d-flex justify-content-center">

    {% if tag %}
    <h1 class="default-text-color">
      Tag: {{ tag }}
    </h1>
    {% else %}
    <form method="POST">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Content title" id="content_title" name="content_title">
        <div class="input-group-append">
          <button type="submit" class="btn"
            style="display: block; width: 100%; background-color: #8885DA;">Search</button>
        </div>
      </div>
    </form>
    {% endif %}

  </div>
</div>

<div class="container-fluid">
  <div class="row">
    {% if contents %}

    {% if contents.data %}
    {% for content in contents %}
    <!-- TODO: Make this better. -->
    <div class="card mb-1" style="background-color: #1C1C1C; width: 100% !important;">
      <div class="card-img-top d-flex align-items-center" style="background-color: #1C1C1C;">
        <div>
          <!-- Content image -->
          <img class="img-fluid rounded" src="{{ content.poster }}" alt="content_img" width="144px" height="180px"
            style="object-fit:cover;">
        </div>
        <p class="col p-2 m-0 default-text-color">{{ content.title }} ({{ content.content_type }})</p>
        <a href="{{ url_for('content', content_id=content.content_id, content_type=content.content_type) }}"
          class="btn stretched-link"></a>
      </div>
    </div>
    {% endfor %}


    {% else %} <!-- from if content.data -->
    <div class="card" style="margin-bottom: 5px; background-color: #1C1C1C;">
      <div class="d-flex align-items-center" style="background-color: #1C1C1C;">
        <h1 class="default-text-color text-center">No content </h1>
      </div>
    </div>
    {% endif %}

    {% if contents.page >= 0 %}
    <!-- Next (html god help me)-->
    <div class="card" style="width: 100%; background-color: #0E0E0E;">
      <div class="d-flex align-items-center" style="background-color: #0E0E0E;">
        <div class="row" style="width: 100%;">
          <div class="col-2 mx-auto d-flex justify-content-center">
            <div class="row">

              <!-- Previous page -->
              <div class="col d-flex justify-content-center">
                {%if contents.page == 1%}
                <a href="#" class="btn non-functional" tabindex="-1">Prev</a>
                {%else%}
                <a href="{{ contents.prev }}" class="btn navigation-btn">Prev</a>
                {%endif%}
              </div>

              <!-- Next page -->
              {% if contents.page < contents.pages %} <div class="col d-flex justify-content-center">
                <a href="{{ contents.next }}" class="btn navigation-btn">Next</a>
            </div>
            {%else%}
            <div class="col d-flex justify-content-center">
              <a href="#" class="btn non-functional" tabindex="-1">Next</a>
            </div>
            {%endif%}
          </div>
        </div>
      </div>
    </div>
    {% endif %}
    {% endif %} <!-- end if content -->

  </div>
</div>
{% endblock %}