{% extends 'base.html' %}

{% block style %}
<link rel="stylesheet" href={{ url_for('static', filename="css/style.css") }}>

<style>
    .vertical-center {
  min-height: 100%; 
  min-height: 80vh;

  display: flex;
  align-items: center;
}
</style>
{% endblock %}

{% block title %}
<title>Sign Up</title>
{% endblock %}

<!-- Users can input either their email or username in to login -->

{% block content %}
<div class="container square-box d-flex justify-content-center vertical-center" >
    <form method="POST">
        <div class="mb-3 default-colour">
            <input type="text" class="form-control" id="email_or_user" name="email_or_user" placeholder="Username/Email" size="30" />
        </div>
        <div class="mb-3 default-colour">
            <input type="password" class="form-control" id="password" name="password" placeholder="Password" size="30" />
        </div>

        <!-- Sign in button -->
        <button type="submit" class="btn btn-primary" style="display: block; width: 100%;">Sign in</button>
    </form>
</div>
{% endblock %}